#hotbar {
    background: lightgray; 
    position: fixed;
    padding: 10px; 
    margin: auto;
    top: 10px;
    left: 50px; 
    width: 90%;
    display: flex; 
    justify-content: space-between;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px; 
    
}

a {
color: black;
}
  
a:visited,
a:hover,
a:active,
a:focus {
color: black;
}

img {
    width: 30%; 
}