<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Micro+5&display=swap" rel="stylesheet">
    <script src="/clicker.js" defer></script>
</head>
<body>
    <%- include('partials/hotbar') %>
    <button id="petButton" onclick="coinClick(); updateData();">Pet Your Pets</button>
    <button onclick="save()">Save</button>
    <p>Coins/click = cats * dogs</p>
</body>